/* header */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    padding: 0;
}

body {
    font-family: 'Lexend', sans-serif;
    background-color: #362a2b;
    color: #e5ebf3;
}

@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(#ffffff, #ffffff);
        color: #000000;
    }
}


/* navbar */

html,
body {
    min-height: 100%;
    min-width: auto;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}


/* Navbar section */

.nav {
    position: relative;
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: #fff;
    z-index: 999999999999;
    border-bottom: 1px solid grey;
}

.nav div .logo {
    display: inline-block;
    position: relative;
    text-align: left;
    margin-left: -300px;
}

.nav div .logo a img {
    width: 220px;
    height: 35px;
    margin-top: 8px;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
    text-transform: uppercase;
}

.nav div.logo a:hover {
    color: rgb(255, 72, 0);
}

.nav div.main_list {
    width: 700px;
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #000000;
}

.nav div.main_list ul li {
    width: 10%;
    height: 65px;
    padding-right: 10px;
    margin-right: 10px;
    display: inline-block;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #000000;
    line-height: 65px;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 12px;
    display: inline-block;
}

.nav div.main_list ul li a:hover {
    color: rgb(255, 72, 0);
}

.nav div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span {
    width: 98%;
    height: 1px;
    display: block;
    background-color: #08080863;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1) {
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2) {
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3) {
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-color: #ddd;
}


/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }
    .nav div.show_list {
        height: 200px;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    .nav div.main_list ul li {
        width: 100%;
        height: 40px;
        background-color: rgba(0, 0, 255, 0.8);
    }
    .nav div.main_list ul li a {
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    .nav div.media_button {
        display: block;
    }
}


/* navbar end */


/* naslov */

.peti {
    position: relative;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5%;
    max-width: 100%;
    height: 100%;
}

.wrap {
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin: 15px auto;
    margin-top: 0px;
    max-width: 1024px;
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
.wrap .respo {
    position: relative;
    font-family: 'Playfair Display', serif;
    width: 100%;
    height: auto;
    font-weight: 500;
    font-size: 42px;
    color: #000 !important;
    line-height: 1.2em;
    letter-spacing: -0.8px;
    z-index: 2;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.resp {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.wrap .respo h5 {
    color: rgb(255, 72, 0);
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700 !important;
    font-size: 12px !important;
    letter-spacing: 1px !important;
    line-height: 2em !important;
    margin-top: 50px;
    z-index: 2;
}

.wrap .respo h2 {
    letter-spacing: 0.2px;
    font-weight: 600;
    margin-bottom: 20px;
    z-index: 2;
}

.wrap .respo .line2 {
    width: 8%;
    color: rgb(255, 72, 0);
    opacity: 1;
    z-index: 2;
    margin-top: 30px;
    margin: auto;
    margin-bottom: 50px;
}

.resp img {
    position: relative;
    float: left;
    vertical-align: middle;
    max-width: 100%;
    width: 330px;
    max-height: 100%;
    height: 200px;
    margin-right: 20px;
}

.text {
    position: relative;
    margin: 0 auto;
    display: table-cell;
    height: 100%;
    width: 330px;
    max-height: 100%;
    max-width: 100%;
    margin: 10px 0px;
    margin-right: 0 !important;
    margin-left: 20px;
    padding: 0px;
    font-size: 16px;
    vertical-align: middle;
    background: rgb(255, 255, 255);
}

.text .right {
    display: inline-block;
    margin: 0 auto;
    height: 200px;
    width: 320px;
}

.icon,
.kat {
    float: left;
    line-height: 50px;
    display: inline-block;
}

.icon {
    vertical-align: middle;
    font-size: 30px;
}

.kat {
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    margin-top: -10px;
    margin-left: 0px;
    color: #333;
    font-size: 22px;
    font-weight: 500;
}

.right img {
    margin-top: -8px;
    width: 100px;
    height: 40px;
}

.right p {
    max-width: 100%;
    width: 300px;
    height: 250px;
    min-height: 100%;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: left;
    margin-top: -20px;
    margin-left: 2px;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-size: 14px;
    color: #333;
}

.respo h3 {
    margin-top: 25px;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
}

.respo p {
    margin: 0px 250px;
    text-align: justify;
}

@media only screen and (max-width: 1100px) {
    .respo p {
        margin: 0px 200px;
    }
}

@media only screen and (max-width: 1000px) {
    .respo p {
        margin: 0px 150px;
    }
}

@media only screen and (max-width: 800px) {
    .resp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        padding: 20px;
        padding-right: -5px;
        padding-top: 30px;
        margin-bottom: -30px;
    }
    .text {
        margin-left: -33px;
        margin-top: 30px;
    }
    .right p {
        width: 330px;
    }
    .right .kat {
        font-size: 24px;
    }
    .respo p {
        margin: 0px 130px;
    }
}

@media only screen and (max-width: 600px) {
    .resp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        padding: 20px;
        padding-right: 0px;
        margin-right: -10px;
        padding-top: 30px;
        margin-bottom: -30px;
    }
    .text {
        margin-left: -33px;
        margin-top: 30px;
    }
    .right p {
        width: 330px;
    }
    .right .kat {
        font-size: 24px;
    }
    .respo p {
        margin: 0px 80px;
    }
}

@media only screen and (max-width: 500px) {
    .respo p {
        margin: 0px 60px;
    }
}

@media only screen and (max-width: 430px) {
    .resp {
        width: auto;
    }
    .text {
        padding-right: 10px;
        padding-left: 5px;
    }
    .kat {
        margin-left: -10px;
    }
    .right p {
        padding-right: 0px;
    }
    .respo p {
        margin: 0px 20px;
    }
    .respo h3 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 390px) {
    .resp img {
        padding-right: 5px;
    }
    .resp .text {
        padding-right: 25px;
        padding-left: 5px;
        font-size: 16px;
    }
    .kat {
        padding-right: 5px;
    }
    .right p {
        padding-right: 10px;
    }
    .respo p {
        margin: 0px 10px;
    }
    .respo h3 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 361px) {
    .resp img {
        padding-right: 10px;
    }
    .resp .text {
        padding-right: 30px;
        padding-left: 5px;
    }
    .icon {
        margin-right: -1px;
    }
    .kat {
        padding-right: 10px;
    }
    .right p {
        padding-right: 40px;
    }
    .respo p {
        margin: 0px 5px;
    }
    .respo h3 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 345px) {
    .resp {
        margin-left: -10px;
    }
    .resp img {
        padding-right: 20px;
        padding-left: -20px;
    }
    .resp .text {
        padding-right: 30px;
        padding-left: -15px;
    }
    .icon {
        margin-right: -1px;
    }
    .kat {
        padding-right: 10px;
    }
    .right p {
        padding-right: 50px;
    }
}

@media only screen and (max-width: 320px) {
    .resp {
        margin-left: -20px;
    }
}


/* footer */

.osmi {
    position: relative;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-size: cover;
    z-index: 2;
}

.osmi::before {
    content: ' ';
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 50vh;
    z-index: 1;
    opacity: 0.15;
    background-blend-mode: color-burn;
    background: url('images/footer-img.jpg') no-repeat center center;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 40px !important;
    padding-bottom: 0 px !important;
    margin-top: 0 px !important;
}

.header .lokacije {
    text-align: left;
    margin-left: -60px;
    line-height: 1.5;
    font-weight: 500;
}

.header .lokacije div:first-child {
    font-weight: bold;
    font-size: 16px;
    margin-left: 0px;
    padding-bottom: 10px;
}

.header .naslov {
    font-weight: bold;
    font-size: 16px;
    margin-left: 0px;
    padding-bottom: 10px;
}

.ostaleInfo li a {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    line-height: 1.9em;
    letter-spacing: 0.05em;
}

.ostaleInfo li a:hover {
    font-size: 14px;
    color: rgba(255, 72, 0);
    cursor: pointer;
    transition: color 0.3s;
}

.info {
    margin-left: 150px;
    margin-right: 150px;
}

.header .info div:first-child {
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    margin-left: 30px;
    padding-bottom: 10px;
}

.info .ostaleInfo {
    font-size: 15px;
    text-align: left;
    list-style: none;
    margin-left: 0px;
}

.socNet {
    font-weight: bold;
    font-size: 16px;
    margin-left: 50px;
}

.header .socNet div:first-child {
    font-weight: bold;
    font-size: 15px;
    margin-left: 0px;
    padding-bottom: 10px;
}

.socNet p {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    letter-spacing: 0.05em;
}

.face {
    position: absolute;
    height: 48px;
    width: 48px;
    z-index: 2;
    margin-left: -50px;
}

.face:hover {
    cursor: pointer;
    transition: color 0.3s;
}

.insta {
    position: absolute;
    z-index: 2;
    margin-left: 0px;
    height: 50px;
    width: 50px;
}

.insta:hover {
    cursor: pointer;
    transition: color 0.3s;
}

.logo {
    display: block;
    margin: 0 auto;
    margin-top: 0px;
}

.logo img {
    position: absolute;
    width: 320px;
    height: 45px;
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: -165px;
    z-index: 2;
}

.logo .footer {
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    color: #000000 !important;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-size: 12px;
    line-height: 1.8em;
    margin-top: 130px;
    margin-left: -120px;
}

@media screen and (max-width: 950px) {
    .header .lokacije {
        text-align: left;
        margin-left: -60px;
        line-height: 1.5;
        font-weight: 500;
    }
    .header .naslov {
        font-weight: bold;
        font-size: 16px;
        margin-left: 0px;
        padding-bottom: 10px;
    }
    .info {
        margin-left: 50px;
        margin-right: 100px;
    }
    .socNet {
        color: #000;
        font-size: 15px;
        text-align: left;
        margin-left: 50px;
        margin-right: 0px;
    }
    .face {
        position: absolute;
        height: 48px;
        width: 48px;
        z-index: 2;
        margin-left: -5px;
    }
    .face:hover {
        cursor: pointer;
        transition: color 0.3s;
    }
    .insta {
        position: absolute;
        z-index: 2;
        margin-left: 45px;
        height: 50px;
        width: 50px;
    }
    .insta:hover {
        cursor: pointer;
        transition: color 0.3s;
    }
    .logo img {
        position: absolute;
        width: 320px;
        height: 45px;
        margin-top: 80px;
        margin-bottom: 0px;
        margin-left: -155px;
        z-index: 2;
    }
    .logo .footer {
        position: absolute;
        font-size: 10px;
        font-weight: 600;
        color: #000000 !important;
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        font-size: 12px;
        line-height: 1.8em;
        margin-top: 130px;
        margin-left: -110px;
    }
}

@media screen and (max-width: 780px) {
    .header .lokacije {
        text-align: left;
        margin-left: -20px;
        line-height: 1.5;
        font-weight: 500;
    }
    .info {
        margin-left: 10px;
        margin-right: 30px;
    }
    .socNet {
        color: #000;
        font-size: 15px;
        text-align: left;
        margin-left: 50px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 600px) {
    .osmi {
        position: relative;
        background-color: #eee;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin: 0 auto;
        width: 100%;
        height: 90vh;
        overflow: hidden;
        z-index: 2;
    }
    .header {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-evenly;
        margin-left: 50px;
        padding-top: 0px !important;
        padding-bottom: 0 px !important;
        margin-top: 0 px !important;
        height: 70vh;
    }
    .header .lokacije div:first-child {
        font-weight: bold;
        font-size: 18px;
        margin-left: 0px;
        padding-bottom: 20px;
    }
    .header .lokacije {
        font-size: 15px;
        text-align: left;
        margin-left: 0px;
        line-height: 1.5;
        font-weight: 500;
    }
    .info {
        margin-left: -31px;
        margin-right: 0px;
    }
    .socNet {
        color: #000;
        font-size: 13px;
        text-align: left;
        margin-left: 1px;
        margin-right: 0px;
    }
    .logo {
        display: block;
        margin: 0 auto;
        margin-top: 0px;
    }
    .logo img {
        position: absolute;
        width: 280px;
        height: 40px;
        margin-top: 50px;
        margin-bottom: 10px;
        margin-left: -135px;
        z-index: 2;
    }
    .logo .footer {
        position: absolute;
        font-size: 10px;
        font-weight: 600;
        color: #000000 !important;
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        font-size: 12px;
        line-height: 1.8em;
        margin-top: 100px;
        margin-left: -110px;
    }
}

@media screen and (max-width: 388px) {
    .logo {
        display: block;
        margin: 0 auto;
        margin-top: 0px;
    }
    .logo img {
        position: absolute;
        width: 240px;
        height: 35px;
        margin-top: 50px;
        margin-bottom: 10px;
        margin-left: -117px;
        z-index: 2;
    }
    .logo .footer {
        position: absolute;
        font-size: 11px;
        font-weight: 600;
        color: #000000 !important;
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        line-height: 1.8em;
        margin-top: 100px;
        margin-left: -97px;
    }
}

@media screen and (max-width: 345px) {
    .logo .footer {
        position: absolute;
        font-size: 11px;
        font-weight: 600;
        color: #000000 !important;
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        margin: 0 30px;
        line-height: 1.8em;
        margin-top: 90px;
        margin-left: -100px;
    }
}

@media screen and (max-width: 320px) {
    .logo .footer {
        position: absolute;
        font-size: 11px;
        font-weight: 600;
        color: #000000 !important;
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        margin: 0 30px;
        line-height: 1.8em;
        margin-top: 90px;
        margin-left: -100px;
    }
}
